<nav class="col-md-8 col-md-offset-2" style="float: right;">
    <ul class="nav nav-pills">
        <li routerLinkActive="active"><a [routerLink]="['/messages']">Messenger</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/auth']">Authentication</a></li>
    </ul>
</nav>
<div class="container" >
  <div class="jumbotron" >
    <div class="container">
      <h1>Welcome to Project Adviser</h1>
      <h2><em>Request, announce, or view projects!</em></h2>
      <hr class="my-4">
      <p>Choose <em>messenger</em> above to view the current project list, or choose <em>authentication</em>
         to sign up and log in so you may add a new project or edit your existing project.</p>
        <header class="row">
        <div class="page-header">
          <p style="text-align: center"
            *ngIf="onLoggedIn()"> You are logged in!
            <a [routerLink]="['logout']"> Logout </a></p>
          <p style="text-align: center"
            *ngIf="!onLoggedIn()"> You are not currently logged in!
            <a [routerLink]="['signin']"> Log in </a> or
            <a [routerLink]="['signup']"> Sign up </a></p>
        </div>
        </header>
    </div>
  </div>
</div>
