
  <article class="panel panel-default">
    <div class="panel-header">
          {{ message.title }}
          <a (click)="onDetails(message)">
          <h5><i>Details</i></h5></a>
    </div>
        <hr>
      <div class="panel-body">
          {{ message.content }}
      </div>
    <footer class="panel-footer">
        <div class="author">
          {{ message.username }}
          <div class="config pull-right">
              <a (click)="onEdit()" *ngIf="belongsToUser()">Edit</a>
              <a (click)="onDelete()" *ngIf="belongsToUser()">Delete</a>
          </div>
        </div>
    </footer>
  </article>
