<div class="container">

  <article class="panel panel-default">
    <div class="panel-header">
          {{ message.title }}
          <a (click)="onDetails(message)">
            <!-- print to console log -->
          <h5><i>Details</i></h5></a>
    </div>
        <hr>
      <div class="panel-body">
          {{ message.content }}
      </div>
    <footer class="panel-footer">
        <div class="author">
          {{ message.username }}
        </div>
    </footer>
  </article>
</div>
<!-- <a (click)="onDetails(message)"><h5><i>Details</i></h5></a>
<div class="col-md-8 col-md-offset-2">
  <h2>Show Project Details</h2>
  <textarea></textarea>
</div> -->
