<div class="col-md-8 col-md-offset-2">
  <h2>Enter your project and a description!</h2>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="title">Project</label>
        <input
            type="text"
            id="title"
            placeholder="Enter project name:"
            class="form-control"
            [ngModel]="message?.title"
            name="title"
            required>
      <label for="content">Content</label>
        <input  style="scroll-bar"
            type="textarea"
            id="content"
            placeholder="Enter project description:"
            cols="30"
            rows="3"
            class="form-control"
            [ngModel]="message?.content"
            name="content"
            required>
    </div>
    <button type="button" class="btn btn-danger" (click)="onClear(f)">Clear</button>
    <button class="btn btn-primary" type="submit">Save</button>
  </form>
</div>
